<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Paket SyncNetPro.* (GitHub Packages). Kredensial dari environment, jangan disimpan di repo:
         GITHUB_USER = user GitHub, GITHUB_TOKEN = PAT dengan scope read:packages (di CI: secrets.GITHUB_TOKEN). -->
    <add key="github-devind" value="https://nuget.pkg.github.com/devind-src/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github-devind">
      <package pattern="SyncNetPro.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <github-devind>
      <add key="Username" value="%GITHUB_USER%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-devind>
  </packageSourceCredentials>
</configuration>
